{% extends "base.html" %}

{% block content %}

<h2><span style="color:blue"> <a href='/home'>Home</a></span></h2>
<p></p>

<h2><span style="color:red"> <a href='/blog'>Main Blog Page</a></span></h2>
        <p> </p>
                    
        
        
        <form action="/newpost" method="post">
            <label>
                Title for your new blog:<br>
                <input type="text" name="title" />
            </label>
            <p></p>
            <label>
                Your new blog:<br>
                <textarea name="blog"></textarea>
            </label>
            <p></p>
            <input type="submit" value='Add Entry' />
        </form>

        <hr/>
        
     
    {% endblock %}
    </body>
</html>